.in-progress{
  position: relative;

  width: 30vw;
  min-width: 300px;

  min-height: 60px;
  margin: 0 auto 40px auto;

  border: 1px solid #E98585;
  border-radius: 25px;

  background-color: rgba(233,133,133,.05);

  padding: 15px;

  &__top{
    display: flex;

    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
  }

}