.products {

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    row-gap: 25px;
    column-gap: 35px;

  }
}

@media screen and (min-width: 768px) {
  .products {

    &__cards {
      padding-bottom: 50px;
    }
  }
}


@media screen and (max-width: 768px) {
  .products {

    &__cards {
      padding-bottom: 80px;
    }
  }
}
